<div class="row">
<div class="col-md-9 col-sm-9 blog-posts">
<h2>Blog</h2>
<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </nav>
  <% } %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for('archives/' + year) %>" class="archive-year"><%= year %></a>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
  <div id="page-nav" class="pagination" style="margin-bottom: 15px;">
    <%- paginator({
      prev_text: 'Prev',
      next_text: 'Next'
    }) %>
  </div>
<% } %>
</div>
<div class="col-md-3 col-sm-3 blog-sidebar">
  <!-- CATEGORIES START -->
  <h2 class="no-top-space">Categories</h2>
  <%- partial('_widget/category.ejs') %>
  <!-- CATEGORIES END -->

  <!-- BEGIN BLOG TAGS -->
  <div class="blog-tags margin-bottom-20">
    <h2>Tags</h2>
    <%- partial('_widget/tag.ejs') %>
  </div>
  <!-- END BLOG TAGS -->


  <!-- BEGIN RECENT NEWS -->                            
  <!--
    <h2>Recent News</h2>
    <div class="recent-news margin-bottom-10">
    <div class="row margin-bottom-10">
    <div class="col-md-3">
    <img class="img-responsive" alt="" src="assets/pages/img/people/img2-large.jpg">                        
    </div>
    <div class="col-md-9 recent-news-inner">
    <h3><a href="javascript:;">Letiusto gnissimos</a></h3>
    <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
    </div>                        
    </div>
    <div class="row margin-bottom-10">
    <div class="col-md-3">
    <img class="img-responsive" alt="" src="assets/pages/img/people/img1-large.jpg">                        
    </div>
    <div class="col-md-9 recent-news-inner">
    <h3><a href="javascript:;">Deiusto anissimos</a></h3>
    <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
    </div>                        
    </div>
    <div class="row margin-bottom-10">
    <div class="col-md-3">
    <img class="img-responsive" alt="" src="assets/pages/img/people/img3-large.jpg">                        
    </div>
    <div class="col-md-9 recent-news-inner">
    <h3><a href="javascript:;">Tesiusto baissimos</a></h3>
    <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
    </div>                        
    </div>
    </div>
  -->
  <!-- END RECENT NEWS -->                            

  <!-- BEGIN BLOG TALKS -->
  <div class="blog-talks margin-bottom-30">
    <h2>Popular Posts</h2>
    <div class="tab-style-1">
      <ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#tab-1">Multipurpose</a></li>
	<li><a data-toggle="tab" href="#tab-2">Documented</a></li>
      </ul>
      <div class="tab-content">
	<div id="tab-1" class="tab-pane row-fluid fade in active">
	  <p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
	  <p><a class="more" href="javascript:;">Read more</a></p>
	</div>
	<div id="tab-2" class="tab-pane fade">
	  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. aliquip jean shorts ullamco ad vinyl aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
	</div>
      </div>
    </div>
  </div>                            
  <!-- END BLOG TALKS -->


  <!-- BEGIN BLOG PHOTOS STREAM -->
  <div class="blog-photo-stream margin-bottom-20">
    <h2>Photos Stream</h2>
    <ul class="list-unstyled">
      <li><a href="javascript:;"><img alt="" src="assets/pages/img/people/img5-small.jpg"></a></li>
      <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img1.jpg"></a></li>
      <li><a href="javascript:;"><img alt="" src="assets/pages/img/people/img4-large.jpg"></a></li>
      <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img6.jpg"></a></li>
      <li><a href="javascript:;"><img alt="" src="assets/pages/img/pics/img1-large.jpg"></a></li>
      <li><a href="javascript:;"><img alt="" src="assets/pages/img/pics/img2-large.jpg"></a></li>
      <li><a href="javascript:;"><img alt="" src="assets/pages/img/works/img3.jpg"></a></li>
      <li><a href="javascript:;"><img alt="" src="assets/pages/img/people/img2-large.jpg"></a></li>
    </ul>                    
  </div>
  <!-- END BLOG PHOTOS STREAM -->
</div>
</div>
